.custom-navbar {
   height: 60px;
   padding: 5px 10px;
   box-shadow: 1px 2px 20px gray;
}

.header-logo {
   width: 7em;
}

.margin-t-5em {
   margin-top: 5em;
}

.question_title {
   text-decoration: none;
   color: black;
}

.navbar-toggler{
   padding:1px 2px;
   
}

.font-size{
   font-size: small;
}

.font-title{
   font-size: large;
}

.delete-btn{
   display: flex !important;
   flex-direction: column !important;
}

.form-css{
   min-width: 260px;
   max-width: 50vw;
}

.buttons{
   display: flex;
   justify-content: center;
}

@media (min-width: 425px) {
   .header-logo {
      width:8em;
   }
   .custom-navbar {
      height: 70px;
      padding: 10px 20px;
      box-shadow: 1px 2px 20px gray;
   }

   .navbar-toggler{
      padding:2px;
   }

   .font-size{
      font-size: medium;
   }

   .font-title{
      font-size: x-large;
   }
}

@media (min-width: 992px) {
   .header-logo {
      width:8em;
   }
   .custom-navbar {
      height: 80px;
      padding: 10px 20px;
      box-shadow: 1px 2px 20px gray;
   }

   .navbar-toggler{
      padding:2px;
   }

   .bg_white {
      background-color:transparent !important;
      box-shadow: none !important;
   }

   .overflow-cat{
      scrollbar-width: none !important;
   }
}

@media (min-width: 1200px) {
   .header-logo {
      width:10em;
   }
   .custom-navbar {
      height: 95px;
      padding: 10px 20px;
      box-shadow: 1px 2px 20px gray;
   }
   .font-size{
      font-size: large;
   }

   .font-title{
      font-size: xx-large;
   }
}